nav {
    margin-bottom: -10px;
}

body {
    background-color: blue;
    text-align: center
}


.container-info {
    padding: 50px;
    display: flex;
    height: 60vh;
    flex-direction: row;
    margin-left: 60px;
    align-items: center;
    justify-content: center;

}

.terminal {
    margin-top: 45px;
    background: black;
    text-decoration: none;
    resize: none;
    color: white;
}

.output-terminals-container {
    margin-top: 40px;
}




input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: rgb(133, 133, 133);
    transition: all 0.5s;
}

.custom-file-upload:hover {
    color: black;
}

.analyze {
    text-align: center
}

#analyze-btn {
    width: 70%;
}
